header.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}
.mobile-right img {
    background: #D40019;
    padding: 6px;
    border-radius: 11px;
    margin-right: 2px;
}
.mobile-right {
    display: flex;
    align-items: center;
}
.mobile-middle a img {
	width: 85%;
    margin-left: 27px;
}
.mobile-bar{
	cursor: pointer;
	display: block;
}
.mobile-menu ul li {
    padding: 10px;
    background: #0BA7B7;
    color: #fff;
    width: 100%;
}
.mobile-menu {
    width: 100%;
}
.mobile-menu ul li a {
    color: #fff;
    font-family: 'Poppins regular';
}
.mobile-menu {
    display: none;
    margin-top: 90px;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
}
.menu-open {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu-list {
    width: 100%;
    height: 100%;
}
.Modern-Slider .slick-dots {
    bottom: 0px;
}
.Modern-Slider .PrevArrow:before {
    content: '\f104';
    color: #0BA7B7;
    position: absolute;
    top: -20px;
    left: 14px;
}
.Modern-Slider .NextArrow:before{
	position: absolute;
	top: -20px;
	right: 14px;
}
.Modern-Slider .PrevArrow {
    top: 52%;
    left: 3%;
    width: 40px;
    height: 40px;
}
.Modern-Slider .NextArrow{
	width: 40px;
    height: 40px;
    top: 52%;
}

/**/
.banner-block-mobile{
	background-image: url(../img/back.png);
    margin-top: -121px;
    z-index: 111;
    position: relative;
}
.banner-mobile-text {
    padding: 134px 0 46px;
}
.banner-text-img-mobile img {
    width: 100%;
}
.banner-text-content-mobile p {
    font-size: 14px;
    font-family: 'Poppins Regular';
    color: #3a3a3a;
    line-height: 22px;
    text-align: justify;
}
/**/
.best-text {
    font-size: 32px;
}
.best-buy-item {
    display: block;
}
.nav-tabs>li>a {
    margin-left: 0;
}
.nav-tabs>li:nth-child(2)>a {
    margin-left: 10px;
}
.best-filter {
    margin-top: 20px;
}
p.title {
    font-size: 14px;
}
h5.weight {
    font-size: 16px;
}
p.price {
    font-size: 18px;
}
.product-button a {
    font-size: 14px;
}
button.btn-add {
    font-size: 14px;
    padding: 10px 15px;
}
.feature-box p {
    font-size: 15px;
}

/**/
.feature-box-img:before{
	top: -7px;
    left: -7px;
    height: 90px;
    width: 90px;
}
.feature-box-img {
    height: 80px;
    width: 80px;
}
.feature-box-img img {
    width: 100%;
}
/**/
.img1 {
    top: 8%;
    left: -2%;
}
.img2 {
    right: 0;
    top: 11%;
}
.img3 {
    top: 30%;
    left: 0;
}
.img4 {
    right: 0;
    top: 27%;
}
.img7 {
    left: -5%;
    bottom: 27%;
}
.img8 {
    right: 0;
    top: 82%;
}
.img6 img {
    width: 50%;
}
.img6 {
    top: -4%;
    right: 0%;
}
.img9 {
    top: -2%;
    left: 0%;
}
.img10 {
    right: 0%;
    top: -2%
}
.img11 {
    top: 36%;
    left: 0%;
}
.img12 {
    top: 60%;
    right: 0%;
}
.img13 {
    bottom: 6%;
    left: 7%;
}
.img15 {
    top: 1%;
    left: -2%;
}
.img16 {
    right: 0;
    top: 6%;
}
.img17 {
    top: 24%;
}
.img18 {
    right: 0;
    top: 22%;
}
.img19, .img20, .img00, .imgt, .imgr{
    position: absolute;
}
.img19 {
    bottom: 27%;
    left: 10%;
}
.img20 {
    right: 0;
    bottom: 25%;
}
.img5 {
    top: -4%;
    left: 0;
}
.img00 {
    top: -3%;
    right: 0%;
}
.imgr {
    bottom: 23%;
    right: 0;
}
.imgt {
    bottom: 25%;
    left: 10%;
}
